/*
 * Estilos de tu proyecto
 */

 body{
     margin: 0;
 }

 a{
     color: white;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
     text-transform: uppercase;
 }

 nav{
    background-color: #2C3E50;
    height: 100px;
    width: 100%;
 }

 .menu{
     padding: 2em;
     width: 49%;
     position: relative;
     display: inline-block;
     box-sizing: border-box;
     left: 15%;
 }

 .menu a {
    margin-right: 15px;
    border: 1px;
    padding: 15px;
    font-size: 17px;
    border-radius: 10px;
   }

 .menu a:hover {
    color: #18bc9c;
}

 .principal {
     box-sizing: border-box;
     display: inline-block;
     padding: 1.5em;
     font-size: 25px;
     width: 50%;
     position: relative;
     left: 5%;
 }

.content{
    text-align: center;
}

 header{
     background-color: #18BC9C;
     box-sizing: border-box;
     height: 700px;
 }

 img{
    padding-top: 90px;
    position: relative;
}

#whiteline{
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    width: 130px;
}

h1{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.7em;
    margin: 0;
    position: relative;
    top: -10px;
}
i{
    color: #FFFFFF;
    font-size: 2em;
    padding: 10px;
}

.title{
    text-align: center;
}
.title h1{
    color: #2C3E50;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

.title i{
    color: #2C3E50;
}

#blueline{
    border: 2px solid #2C3E50;
    display: inline-block;
    text-align: center;
    width: 130px;
}
/* se le da estilo a las imágenes*/
.pictures{
    margin-left: 6em;
    min-width: 88%;
    position: relative;
    padding: 2px;
}
#images > img{
    float: left;
    width: 30%;
    height: auto;
    margin: 10px;
    margin-top: 10px;
    padding: 0;
}
/* Seccion about*/

#about{
    background-color: #18BC9C;
    box-sizing: border-box;
    margin-top: 900px;
    height: 500px;
    text-align: center;
}

#about > h2{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    top: 50px;
}
#whiteline2{
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    width: 130px;
}
#parrafos{
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 1.5em;
    width: 100%;
}

.textleft{
    width: 49%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    left: 28%;
}

.textright{
    width: 50%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    top: -64px;
    left: 25px;
}

/*Sección contact me*/

.contact h1{
    color: #2C3E50;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

input[type=text]{
    border: none;
    border-bottom: 1px solid lightgray;
    color: gray;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    height: 3em;
    width: 100%;
}

#formulario{
    left:20%;
    position: relative;
    top: 0;
    min-height: fit-content;
    width: 65%;
}

.button{
    border-radius: 10%;
    border-width: 2px;
    border: 1px transparent;
    box-sizing: border-box;
    background-color: #18BC9C;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1em 1.5em;
    left: 20%;
    position: relative;
    top: 20px;
}

/*sección final, footer*/
.final{
    background-color: #2C3E50;
    margin-top: 100px;
    height: 300px;
}
.top h3{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.top p{
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}
.final .top{
    display: inline-block;
    left: 27%;
    position: relative;
}

.top .location{
    margin 0;
    padding: 0px 55px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.top .iconos{
    margin 0;
    padding: 0px 55px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.iconos i{
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 10px;
}

.top .abofree{
    margin 0;
    padding: 0px 55px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.abofree p span{
    color: #18BC9C;
}